<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <!-- Paste the PersonalAccessToken inside the quotes next to 'value=' below -->
    <add key="Account" value="" />
    <add key="Project" value="" />
    <add key="PersonalAccessToken" value="" />
    <add key="DescriptionPrefix" value="ACAI - DT (AppDev)" />
    <add key="WorkItemsQuery" value="Select [System.Id], [System.WorkItemType], [System.Title], [System.Tags], [System.Description] From WorkItemLinks WHERE (Source.[System.TeamProject] = '{0}' and Source.[System.Title] = 'Modern Delivery') and ([System.Links.LinkType] = 'System.LinkTypes.Hierarchy-Forward') and (Target.[System.State] &lt;&gt; 'Removed' and Target.[System.WorkItemType] in ('User Story', 'Product Backlog Item', 'Task')) mode(Recursive)" />
    <add key="ReportOnly" value="false" />
  </appSettings>

</configuration>